@import "src/main";
@import "elr-scss-reset/src/main";

@include elr-reset;

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: #666;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
}

.elr-alert {
  @include elr-alert(
    $config: (
      border-radius: 3px,
    )
  );
  margin: 10px 0;
  // max-width: 768px;
}

.elr-alert-info {
  @include elr-alert-context(
    $config: (
      type: info,
    )
  );
}

.elr-alert-danger {
  @include elr-alert-context(
    $config: (
      type: danger,
    )
  );
}

.elr-alert-warning {
  @include elr-alert-context(
    $config: (
      type: warning,
    )
  );
}

.elr-alert-success {
  @include elr-alert-context(
    $config: (
      type: success,
    )
  );
}

.elr-alert-muted {
  @include elr-alert-context(
    $config: (
      type: muted,
    )
  );
}
