// Alert Classes

@mixin elr-alert($config: ()) {
    $config: extend((
        border-radius: 0,
        width: 100%,
        color: $main-color,
        text-color: $white
    ), $config);

    $border-radius: map-get($config, border-radius);
    $width: map-get($config, width);
    $color: map-get($config, color);
    $text-color: map-get($config, text-color);

    @include elr-clearfix;
    padding: to-rems(10px) to-rems(20px);
    max-width: $width;
    position: relative;
    color: $text-color;
    background-color: $color;
    border: 1px solid $color;

    @if $border-radius != 0 {
        border-radius: $border-radius;
    }

    p { padding: to-rems(10px) 0; }

    .close {
        @include elr-square($config: (width: 20px));
        font-size: to-rems(14px);
        padding: 0;
        margin: 0;
        position: absolute;
        right: to-rems(5px);
        top: to-rems(3px);
        border: 0;
        background: none;
        transition: color, .3s;
        color: $text-color;

        &:hover {
            cursor: pointer;
        }
    }
}

// TODO: map over alert types to avoid crazy if/else statements

@mixin elr-alert-context($config: ()) {
    $config: extend((
        type: info
    ), $config);

    $type: map-get($config, type);

    @if $type == info {
        background-color: lighten($info-color, 20%);
        border-color: $info-color;
        color: darken($info-color, 15%);
    } @else if $type == danger {
        background-color: lighten($danger-color, 20%);
        border-color: $danger-color;
        color: darken($danger-color, 15%);
    } @else if $type == warning {
        background-color: lighten($warning-color, 20%);
        border-color: $warning-color;
        color: darken($warning-color, 15%);
    } @else if $type == success {
        background-color: lighten($success-color, 20%);
        border-color: $success-color;
        color: darken($success-color, 15%);
    } @else if $type == muted {
        background-color: lighten($muted-color, 20%);
        border-color: $muted-color;
        color: darken($muted-color, 15%);
    }
}
