@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";
// Alert Classes
// Modern clearfix
// Use instead of overflow:hidden to clear floats

@mixin elr-alert($config: ()) {
  $config: extend(
    (
      border-radius: $border-radius,
      width: 100%,
      background-color: $lightest-gray,
      color: $text-color,
    ),
    $config
  );

  $border-radius: map-get($config, border-radius);
  $width: map-get($config, width);
  $background-color: map-get($config, background-color);
  $color: map-get($config, color);

  color: $color;
  // background-color: $color;
  border: 1px solid $color;
  width: 100%;
  border-radius: $border-radius;
  padding: $base-fontsize 24px;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  transition: opacity 0.3s, visibility 0.3s, max-height 0s ease 0.4s,
    padding 0s ease 0.4s, border 0s ease 0.4s;

  @if $border-radius != 0 {
    border-radius: $border-radius;
  }

  &.hidden {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
  }

  button {
    background: none;
    border: 0;
    cursor: pointer;
  }

  .notification-heading,
  p {
    padding: 0;
    margin: 0 0 4px;
    color: $color;
  }

  .notification-heading {
    font-weight: 700;
    font-size: 24px;

    &:first-child:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: $base-fontsize;
    max-width: 768px;

    &:first-child:last-child {
      margin-bottom: 0;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    // display: block;
    margin-right: 18px;
    font-size: $base-fontsize;
    color: #fff;
    flex-basis: 40px;
    min-width: 40px;
    height: 40px;
    background-color: $color;
    border-radius: 20px;
  }

  .button-close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 24px;
    font-weight: 700;
    padding: 0 8px;
  }

  .button-holder {
    display: flex;
    padding-top: 8px;

    button,
    a {
      font-size: 14px;
      padding: 0 $base-fontsize 0 0;
      text-decoration: underline;
      font-weight: 700;
      color: $color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// TODO: map over alert types to avoid crazy if/else statements

@mixin elr-alert-context($config: ()) {
  $config: extend(
    (
      type: info,
    ),
    $config
  );

  $color: $white;
  $type: map-get($config, type);

  @if $type == info {
    background-color: $lightest-blue;
    border-color: $dark-blue;
    $color: $dark-blue;
  } @else if $type == danger {
    background-color: $danger-background-color;
    border-color: $danger-color;
    $color: $danger-color;
  } @else if $type == warning {
    background-color: $warning-background-color;
    border-color: $warning-color;
    $color: $warning-color;
  } @else if $type == success {
    background-color: $success-background-color;
    border-color: $success-color;
    $color: $success-color;
  } @else if $type == muted {
    background-color: $muted-background-color;
    border-color: $muted-color;
    $color: $muted-color;
  }

  color: $color;

  .icon {
    background-color: $color;
  }

  .notification-heading,
  p,
  a,
  button,
  .button-holder a,
  .button-holder button {
    color: $color;
  }
}
