@import "elr-scss-functions/src/main";
// Alert Classes
// Modern clearfix
// Use instead of overflow:hidden to clear floats

@mixin elr-alert($config: ()) {
  $config: extend(
    (
      border-radius: 3px,
      width: 100%,
      background-color: #e2e2e2,
      color: #111,
    ),
    $config
  );

  $border-radius: map-get($config, border-radius);
  $width: map-get($config, width);
  $background-color: map-get($config, background-color);
  $color: map-get($config, color);

  padding: 10px 20px;
  position: relative;
  color: $color;
  // background-color: $color;
  border: 1px solid $color;
  width: 100%;
  border-radius: $border-radius;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  position: relative;

  @if $border-radius != 0 {
    border-radius: $border-radius;
  }

  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  transition: opacity 0.3s, visibility 0.3s, max-height 0s ease 0.4s,
    padding 0s ease 0.4s, border 0s ease 0.4s;

  &.hidden {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: 0;
  }

  button {
    background: none;
    border: 0;
    cursor: pointer;
  }

  .elr-notification-heading,
  p {
    padding: 0;
    margin: 0 0 4px;
  }

  .elr-notification-heading {
    font-weight: 700;
    font-size: 24px;

    &:first-child:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 16px;
    max-width: 768px;

    &:first-child:last-child {
      margin-bottom: 0;
    }
  }

  .elr-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    // display: block;
    margin-right: 18px;
    font-size: 16px;
    color: #fff;
    flex-basis: 40px;
    min-width: 40px;
    height: 40px;
    background-color: $color;
    border-radius: 20px;
  }

  .elr-button-close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 24px;
    font-weight: 700;
    padding: 0 8px;
  }

  .elr-button-holder {
    display: flex;
    padding-top: 8px;

    button,
    a {
      font-size: 14px;
      padding: 0 16px 0 0;
      text-decoration: underline;
      font-weight: 700;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// TODO: map over alert types to avoid crazy if/else statements

@mixin elr-alert-context($config: ()) {
  $config: extend(
    (
      type: info,
    ),
    $config
  );

  $color: #fff;
  $type: map-get($config, type);

  $blue: #1976d2;
  $lightest-blue: #dfecf9;
  $dark-blue: #005ebd;

  $danger-color: #af100d;
  $danger-background-color: #fddbdb;

  $warning-color: #ce900b;
  $warning-background-color: #fff2da;

  $success-color: #337234;
  $success-background-color: #dcf3dc;

  $info-color: #1daaf0;

  $muted-color: #666;
  $muted-background-color: #f2f2f2;

  @if $type == info {
    background-color: $lightest-blue;
    border-color: $dark-blue;
    $color: $dark-blue;
  } @else if $type == danger {
    background-color: $danger-background-color;
    border-color: $danger-color;
    $color: $danger-color;
  } @else if $type == warning {
    background-color: $warning-background-color;
    border-color: $warning-color;
    $color: $warning-color;
  } @else if $type == success {
    background-color: $success-background-color;
    border-color: $success-color;
    $color: $success-color;
  } @else if $type == muted {
    background-color: $muted-background-color;
    border-color: $muted-color;
    $color: $muted-color;
  }

  color: $color;

  .elr-icon {
    background-color: $color;
  }

  h2,
  p {
    color: $color;
  }
}
